<%= render 'index_nav_menu' %>

<div id="calendar">

  <div id="month">
    <h3 class="text-center">
      <%= link_to '<', date: (@date.beginning_of_month - 1).strftime('%Y-%m') %>
      <%= @date.strftime('%B %Y') %>
      <%= link_to '>', date: (@date.end_of_month       + 1).strftime('%Y-%m') %>
    </h3>
  </div>

  <%= calendar_for @events, year: @date.year, month: @date.month, html: { class: 'table table-hover' } do |calendar| %>
    <%= calendar.head(*weekdays) %>
    <% calendar.day(day_method: :date) do |date, events| %>
      <p class="text-center"><%= date.day %></p>
      <div class="text-center">
        <% events.each do |event| %>
          <p><%= link_to event.name, event %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>