<h1><%= @event.name %>(<%= @event.date %>)</h1>
<p><%= @event.description %></p>

<%= link_to 'Back', events_path(date: @event.date) %>
<% if user_signed_in? and current_user == @event.user %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
