<%= link_to 'Calendar', events_path %>
<%= link_to 'Usual', events_path(usual: true) %>

<div id="events">
  <% @events.each do |event| %>
    <p><%= link_to ("#{event.name}") %> (@<%= event.user.email %>) - <%= event.date %> - <%= event.description %></p>
  <% end %>
</div>