<%= render 'index_nav_menu' %>

<h3 class="text-center">Events</h3>

<div class="row text-center">
  <% @events.each do |event| %>
  <div class="col-sm-4">
    <div class="thumbnail">
      <p><strong><%= event.name %></strong></p>
      <p>(<%= event.user.email %>)</p>
      <p><%= event.date.strftime("%B %-d, %Y") %></p>
      <%= link_to 'View', event, class: 'btn' %>
    </div>
  </div>
  <% end %>
</div>
