<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>
<body>

<!-- NavBar -->
<%= render 'parts/nav' %>

<div id="tour" class="bg-1">
  <div class="container">

    <%= render 'parts/notifications' %>

    <%= yield %>

  </div>
</div>

</body>
</html>
